<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 
		Mapping 을 어떤식으로 처리할껀지..
	 	View를 어떤식으로 연결할껀지..
	
	 <bean id="mapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	 	<property name="mappings">
	 		<value>
	 			/welcome.do = welcome
	 		</value>
	 	</property>
	 </bean>
	  -->
	  
	 <bean id="mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	 <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
	 
	 <!-- handler 등록 -->
	 <bean id="/welcome.do" class="controller.WelcomeController"/>
	 
	

</beans>
